<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
    xmlns:pipeline="http://github.com/jieshaocd/schema/pipeline"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
            http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
            http://www.springframework.org/schema/context 
            http://www.springframework.org/schema/context/spring-context-4.0.xsd
            http://github.com/jieshaocd/schema/pipeline
            http://github.com/jieshaocd/schema/pipeline/spring-pipeline-1.0.xsd">


    <bean id="preCheckBean" class="com.github.jieshaocd.handler.PreCheckHandler"></bean>
    
    <bean id="postCheckBean" class="com.github.jieshaocd.handler.PostCheckHandler"></bean>

    <pipeline:chain id="checkPipeline" header="preCheck">
        <pipeline:handler id="preCheck" bean="preCheckBean">
            <pipeline:next returnvalue="1" handler="postCheck"/>
        </pipeline:handler>
        <pipeline:handler id="postCheck" bean="postCheckBean"/>
    </pipeline:chain>
    
</beans>